In [2]:
import os
import pandas

for i in os.listdir('archive'):
    if i.endswith('.csv'):
        df = pandas.read_csv('archive/'+i)
        print(df.head(5))

   id            name  latitude  longitude
0   1      Memphis TN   35.1174   -89.9711
1   2      Chicago IL   41.8369   -87.6847
2   3      Houston TX   29.7604   -95.3698
3   4  Los Angeles CA   34.0500  -118.2500
4   5  New Orleans LA   29.9500   -90.0667
      id  product_id                 created_at                    sold_at  \
0  67971       13844  2022-07-02 07:09:20+00:00  2022-07-24 06:33:20+00:00
1  67972       13844  2023-12-20 03:28:00+00:00                        NaN
2  67973       13844  2023-06-04 02:53:00+00:00                        NaN
3  72863       13844  2021-10-16 22:58:52+00:00  2021-11-22 02:19:52+00:00
4  72864       13844  2021-08-07 16:33:00+00:00                        NaN

      cost product_category            product_name       product_brand  \
0  2.76804      Accessories  (ONE) 1 Satin Headband  Funny Girl Designs
1  2.76804      Accessories  (ONE) 1 Satin Headband  Funny Girl Designs
2  2.76804      Accessories  (ONE) 1 Satin Headband  Funny Girl Designs
3  2.76804      Accessories  (ONE) 1 Satin Headband  Funny Girl Designs
4  2.76804      Accessories  (ONE) 1 Satin Headband  Funny Girl Designs

   product_retail_price product_department                       product_sku  \
0                  6.99              Women  2A3E953A5E3D81E67945BCE5519F84C8
1                  6.99              Women  2A3E953A5E3D81E67945BCE5519F84C8
2                  6.99              Women  2A3E953A5E3D81E67945BCE5519F84C8
3                  6.99              Women  2A3E953A5E3D81E67945BCE5519F84C8
4                  6.99              Women  2A3E953A5E3D81E67945BCE5519F84C8

   product_distribution_center_id
0                               7
1                               7
2                               7
3                               7
4                               7
   order_id  user_id     status gender                 created_at returned_at  \
0         8        5  Cancelled      F  2022-10-20 10:03:00+00:00         NaN
1        60       44  Cancelled      F  2023-01-20 02:12:00+00:00         NaN
2        64       46  Cancelled      F  2021-12-06 09:11:00+00:00         NaN
3        89       65  Cancelled      F  2020-08-13 09:58:00+00:00         NaN
4       102       76  Cancelled      F  2023-01-17 08:17:00+00:00         NaN

  shipped_at delivered_at  num_of_item
0        NaN          NaN            3
1        NaN          NaN            1
2        NaN          NaN            1
3        NaN          NaN            1
4        NaN          NaN            2
       id  order_id  user_id  product_id  inventory_item_id     status  \
0  152013    104663    83582       14235             410368  Cancelled
1   40993     28204    22551       14235             110590   Complete
2   51224     35223    28215       14235             138236   Complete
3   36717     25278    20165       14235              99072    Shipped
4  131061     90241    71954       14235             353798    Shipped

                  created_at                 shipped_at  \
0  2023-05-07 06:08:40+00:00                        NaN
1  2023-03-14 03:47:21+00:00  2023-03-15 22:57:00+00:00
2  2023-12-05 13:25:30+00:00  2023-12-06 01:20:00+00:00
3  2023-12-22 20:48:19+00:00  2023-12-24 16:44:00+00:00
4  2022-06-19 16:57:59+00:00  2022-06-19 19:29:00+00:00

                delivered_at returned_at  sale_price
0                        NaN         NaN        0.02
1  2023-03-18 01:08:00+00:00         NaN        0.02
2  2023-12-10 10:04:00+00:00         NaN        0.02
3                        NaN         NaN        0.02
4                        NaN         NaN        0.02
      id     cost     category  \
0  13842  2.51875  Accessories
1  13928  2.33835  Accessories
2  14115  4.87956  Accessories
3  14157  4.64877  Accessories
4  14273  6.50793  Accessories

                                                name brand  retail_price  \
0   Low Profile Dyed Cotton Twill Cap - Navy W39S55D    MG          6.25
1  Low Profile Dyed Cotton Twill Cap - Putty W39S55D    MG          5.95
2       Enzyme Regular Solid Army Caps-Black W35S45D    MG         10.99
3  Enzyme Regular Solid Army Caps-Olive W35S45D (...    MG         10.99
4              Washed Canvas Ivy Cap - Black W11S64C    MG         15.99

  department                               sku  distribution_center_id
0      Women  EBD58B8A3F1D72F4206201DA62FB1204                       1
1      Women  2EAC42424D12436BDD6A5B8A88480CC3                       1
2      Women  EE364229B2791D1EF9355708EFF0BA34                       1
3      Women  00BD13095D06C20B11A2993CA419D16B                       1
4      Women  F531DC20FDE20B7ADF3A73F52B71D0AF                       1
      id   first_name last_name                           email  age gender  \
0    457      Timothy      Bush         timothybush@example.net   65      M
1   6578    Elizabeth  Martinez   elizabethmartinez@example.com   34      F
2  36280  Christopher   Mendoza  christophermendoza@example.net   13      M
3  60193        Jimmy    Conner         jimmyconner@example.com   64      M
4  64231      Natasha    Wilson       natashawilson@example.net   25      F

  state                street_address postal_code        city country  \
0  Acre           87620 Johnson Hills   69917-400  Rio Branco  Brasil
1  Acre             1705 Nielsen Land   69917-400  Rio Branco  Brasil
2  Acre      125 Turner Isle Apt. 264   69917-400  Rio Branco  Brasil
3  Acre     0966 Jose Branch Apt. 008   69917-400  Rio Branco  Brasil
4  Acre  20798 Phillip Trail Apt. 392   69917-400  Rio Branco  Brasil

   latitude  longitude traffic_source                 created_at
0 -9.945568  -67.83561         Search  2022-07-19 13:51:00+00:00
1 -9.945568  -67.83561         Search  2023-11-08 18:49:00+00:00
2 -9.945568  -67.83561          Email  2019-08-24 06:10:00+00:00
3 -9.945568  -67.83561         Search  2020-02-15 11:26:00+00:00
4 -9.945568  -67.83561         Search  2020-03-13 06:45:00+00:00

In [8]:
f"{tuple(df.keys())}"

"('id', 'first_name', 'last_name', 'email', 'age', 'gender', 'state', 'street_address', 'postal_code', 'city', 'country', 'latitude', 'longitude', 'traffic_source', 'created_at')"

In [22]:
[str(dtype) for dtype in df.dtypes.to_list()]

['int64',
 'object',
 'object',
 'object',
 'int64',
 'object',
 'object',
 'object',
 'object',
 'object',
 'object',
 'float64',
 'float64',
 'object',
 'object']

In [23]:
dtype_map = {
    'object': '%s',
    'int64': '%s',
    'float64': '%s',
    'bool': '%s',
    'datetime64[ns]': '%s'
}

In [45]:
import os
import pandas as pd
import mysql.connector

def load_csv_folder_to_mysql(
    directory: str,
    host: str,
    user: str,
    password: str,
    database: str
):
    # map pandas dtypes to MySQL column types
    sql_type_map = {
        'object':          'TEXT',
        'int64':           'BIGINT',
        'float64':         'DOUBLE',
        'bool':            'BOOLEAN',
        'datetime64[ns]':  'DATETIME'
    }

    conn = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )
    cursor = conn.cursor()

    for fname in os.listdir(directory):
        if not fname.endswith('.csv'):
            continue

        table = os.path.splitext(fname)[0]
        df = pd.read_csv(os.path.join(directory, fname))

        # --- convert all NaN/NaT to None so they become SQL NULLs ---
        df = df.where(pd.notnull(df), None)

        # --- 1) CREATE TABLE IF NOT EXISTS ---
        cols_defs = []
        for col, dtype in df.dtypes.items():
            sql_type = sql_type_map.get(str(dtype), 'TEXT')
            cols_defs.append(f"`{col}` {sql_type}")
        create_sql = f"""
            CREATE TABLE IF NOT EXISTS `{table}` (
              {', '.join(cols_defs)}
            ) ENGINE=InnoDB;
        """
        cursor.execute(create_sql)

        # --- 2) Build a fixed placeholders string ---
        col_names = ", ".join(f"`{c}`" for c in df.columns)
        placeholders = ", ".join(["%s"] * len(df.columns))
        insert_sql = f"INSERT INTO `{table}` ({col_names}) VALUES ({placeholders})"

        # --- 3) Insert row-by-row, passing the data tuple separately ---
        for row in df.itertuples(index=False, name=None):
            cursor.execute(insert_sql, row)

    conn.commit()
    cursor.close()
    conn.close()


load_csv_folder_to_mysql(
    directory="archive",
    host="localhost",
    user="root",
    password="manik",
    database="ecommerce"
)